{include file="common/header"}
<title>首页-德强高中作业答案发布平台</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/pifu/pifu.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/wangEditor/css/wangEditor.min.css">
<section class="container pt-20">
	<!--<div class="Huialert Huialert-info"><i class="Hui-iconfont">&#xe6a6;</i>成功状态提示</div>-->
  <!--left-->
  <div class="col-sm-9 col-md-9">
  	<!--滚动图-->
  	<div class="slider_main">
            <div class="slider">
                <div class="bd">
                    <ul>
                        <li><a href="#" target="_blank"><img src="__PUBLIC__/img/g1.jpg"></a></li>
                        <li><a href="#" target="_blank"><img src="__PUBLIC__/img/g1.jpg"></a></li>
                    </ul>
                </div>
                <ol class="hd cl dots">
                    <li>1</li>
                    <li>2</li>
                </ol>
                <a class="slider-arrow prev" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
            </div>
        </div>
  		
		<div class="mt-20 bg-fff box-shadow radius mb-5">
			<div class="tab-category">
				<a href=""><strong class="current">最新发布</strong></a>
			</div>
		</div>
		<div class="art_content">
			<ul class="index_arc">			
				<!-- 循环文章列表volist powered by Caojian-->
				{volist name="articleres" id="vo"}
				{if condition="$vo['state'] eq 1"}
				<li class="index_arc_item">
					<a href="{:url('/index/article/index',array('arid'=>$vo['id']))}" class="pic">
						<img class="lazyload" src="__PUBLIC__/temp/gaoyi.png" alt="应该选" />
					</a>
					<h4 class="title"><a href="{:url('/index/article/index',array('arid'=>$vo['id']))}">{$vo.title}</a></h4>
					<div class="date_hits">
						<span>{$vo.author}</span>
						<span>{$vo.time|date="Y-m-d",###}</span>
						<span><a href="/article-lists/10.html">{$vo.cateid}</a></span>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276 °</p>
						<p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span id="sourceId::105" class="cy_cmt_count">99</span></p>
					</div>
					<div class="desc">{$vo.title}，德强学校高中部以教学质量为中心，秉承“以师生发展为本，为师生成长服务”的宗旨，以“促进学生素质发展、促进教师专业发展、促进学校内涵发展”为目标。合理分配时间，注意学乐有度 </div>
				</li>
				{/if}
				{/volist}
				
				</ul>
  		<!--<div class="text-c mb-20" id="moreBlog">-->
	   <!--     <a class="btn  radius btn-block " href="javascript:;" onclick="moreBlog();">点击加载更多</a>-->
	   <!--     <a class="btn  radius btn-block hidden" href="javascript:;">加载中……</a>-->
	   <!-- </div>-->
		</div>
  </div>
  
  <!--right-->
  <div class="col-sm-3 col-md-3">
  	
  	<!--站点声明-->
        <div class="panel panel-default mb-20">
            <div class="panel-body">
                <i class="Hui-iconfont" style="float: left;">&#xe62f;&nbsp;</i>
                <div class="slideTxtBox">
                    <div class="bd">
                        <ul>
                            <li><a href="javascript:void(0);">合理分配时间，注意学乐有度，暑假愉快！</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
  	<!--博主信息-->
        <!--<div class="bg-fff box-shadow radius mb-20">-->
        <!--    <div class="tab-category">-->
        <!--        <a href=""><strong>网站信息</strong></a>-->
        <!--    </div>-->
        <!--    <div class="tab-category-item">-->
        <!--        <ul class="index_recd">-->
        <!--            <li class="index_recd_item"><i class="Hui-iconfont">&#xe653;</i>德强高中作业发布平台</li>-->

        <!--        </ul>-->
        <!--    </div>-->
        <!--</div>-->
  	
  	
  	<!--热门推荐-->
  	{include file="common/hot"}
		
	
		<!--友情链接-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>友情链接</strong></a>
			</div>
			<div class="tab-category-item">
				
				{volist name="links" id="vo"}
				<span><i class="Hui-iconfont">&#xe6f1;</i><a href="{$vo.url}" class="btn-link">{$vo.title}</a></span>
                {/volist}
			</div>
		</div>
	
	
	

  </div>
  
</section>
{include file="common/footer"}
<script type="text/javascript" src="__PUBLIC__/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="__PUBLIC__/plugin/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>

<script>
$(function(){
//幻灯片
jQuery(".slider_main .slider").slide({mainCell: ".bd ul", titCell: ".hd li", trigger: "mouseover", effect: "leftLoop", autoPlay: true, delayTime: 700, interTime: 2000, pnLoop: true, titOnClassName: "active"})
//tips
jQuery(".slideTxtBox").slide({titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true});
//标签
	$(".tags a").each(function(){
		var x = 9;
		var y = 0;
		var rand = parseInt(Math.random() * (x - y + 1) + y);
		$(this).addClass("tags"+rand)
	});
	
	$("img.lazyload").lazyload({failurelimit : 3});
});

</script> 

</body>
</html>
