{include file="common/header"}
<title>{$articleres.title}-德强高中作业网</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/pifu/pifu.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugin/wangEditor/css/wangEditor.min.css">

<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>     <span class="c-gray">{$articleres.title}</span></div>
</nav>

<section class="container pt-20">
    
    <div class="row w_main_row">
                
                
                <div class="col-lg-9 col-md-9 w_main_left">
                    <div class="panel panel-default  mb-20">
                        <div class="panel-body pt-10 pb-10">
                            {if condition="$articleres.state eq 1 "}
                            <h2 class="c_titile">{$articleres.title}</h2>
                            <p class="box_c"><span class="d_time">发布时间：{$articleres.time|date="Y-m-d",###}</span><span>编辑：<a href="#">{$articleres.author}</a></span><span>阅读（{$articleres.click}）</span></p>
                            <ul class="infos">
                                {$articleres.content}
                                <p>&nbsp;</p><p align="center" class="pageLink"></p>
                                
                            </ul>
                                                            
                            <div class="keybq">
                                <p><span>关键字</span>：<a class="label label-default">{$articleres.keywords}</a></p>    
                            </div>
                            {else /}
                                    <span style="color:red;">作业还未发布！请等待发布后再访问！</span>
                            {/if}
                            
                            

                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <!--热门推荐-->
    {include file="common/hot"}
                          </div>
                    
                </div>
            </div>
    
</section>
{include file="common/footer"}
<script type="text/javascript" src="__PUBLIC__/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="__PUBLIC__/plugin/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript">
    $(function () {
            $("img.lazyload").lazyload({failurelimit : 3});
        
        wangEditor.config.printLog = false;
        var editor1 = new wangEditor('textarea1');
        editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
        editor1.config.emotions = { 'default': { title: '老王表情', data: 'plugin/wangEditor/emotions1.data'}, 'default2': { title: '老王心情', data: 'plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: 'plugin/wangEditor/emotions2.data'}};
        editor1.create();

        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });

</script>
</body>
</html>
